*.bak
*.orig
*.swo
*.swp
*~
/.idea/
/.rsync_cache/
/.vagrant
/coverage/
/log/
/public/uploads/
/public/screen_image_uploads/
/public/assets/
/spec/reports/
/tmp/
/vagrant/test_deploy/.vagrant
/vendor
